@use "colors.scss";

@import "reset.scss";
@import "article.scss";
@import "fonts.scss";

body {
    margin: 1rem auto;
    max-width: 90ch;
    font-family: "Source Code Pro", Courier, monospace;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    border: 2px solid var(--foreground);
}

h1.section-title {
    font-weight: normal;
    font-size: 1rem;
    margin: -1.75rem 0;
    padding: 0 .5rem;
    width: max-content;
    background-color: var(--background);
}

h1.title {
    text-align: center;
    margin: 1rem 0;
    
    &#home {
        margin-top: 2.75rem;
    }
}

section, article, footer {
    margin-top: 2.25rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

section {
    &.posts, &.pages {
        padding: 1rem;
        margin: .5rem .5rem;
        border: 2px solid var(--foreground);
        width: 50%;
    }
    
    &.list, &.gallery {
        padding: 1rem;
        margin: .5rem .5rem;
        border: 2px solid var(--foreground);
        
        li a {
            display: flex;
            justify-content: space-between;
        }
    }
    
    ul {
        list-style: none;
        margin-top: 2.25rem;
    }
}

a {
    color: var(--accent);
    text-decoration: none;
    
    &:hover {
        color: var(--background);
        background-color: var(--accent);
    }
}

footer {
    padding: 1rem;
    margin: .5rem .5rem;
    border: 2px solid var(--foreground);
    
    section ul {
        display: flex;
        justify-content: space-evenly;
    }
}

a.back {
    margin: 0 .5rem;
    margin-bottom: 1rem;
    max-width: max-content;
}

@media only screen and (max-width: 940px) {
    body {
        margin: 1rem 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }
    
    section {
        &.posts, &.pages {
            width: auto;
        }
    }
    
    footer section ul {
        flex-wrap: wrap;
        gap: .5rem;
    }
}
