@use "themes/classic";
@use "themes/nord";
@use "themes/kanagawa";
@use "themes/gruvbox";

@mixin theme($theme-colors) {
    --background: #{map-get($theme-colors, background)};
    --surface: #{map-get($theme-colors, surface)};
    --foreground: #{map-get($theme-colors, foreground)};
    --light: #{map-get($theme-colors, light)};
    --accent: #{map-get($theme-colors, accent)};
}

:root {
    @include theme(classic.$light);
}

:root[css-theme="classic"] {
    @include theme(classic.$light);
}

:root[css-theme="nord"] {
    @include theme(nord.$light);
}

:root[css-theme="kanagawa"] {
    @include theme(kanagawa.$light);
}

:root[css-theme="gruvbox"] {
    @include theme(gruvbox.$light);
}

:root[mode="dark"] {
    @include theme(classic.$dark);
}

:root[css-theme="classic"][mode="dark"] {
    @include theme(classic.$dark);
}

:root[css-theme="nord"][mode="dark"] {
    @include theme(nord.$dark);
}

:root[css-theme="kanagawa"][mode="dark"] {
    @include theme(kanagawa.$dark);
}

:root[css-theme="gruvbox"][mode="dark"] {
    @include theme(gruvbox.$dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme(classic.$dark);
    }
    
    :root[css-theme="classic"]:not([mode]) {
        @include theme(classic.$dark);
    }
    
    :root[css-theme="nord"]:not([mode]) {
        @include theme(nord.$dark);
    }
    
    :root[css-theme="kanagawa"]:not([mode]) {
        @include theme(kanagawa.$dark);
    }
    
    :root[css-theme="gruvbox"]:not([mode]) {
        @include theme(gruvbox.$dark);
    }
}
