@use "themes/light";
@use "themes/dark";

@mixin theme($theme-colors) {
    --background: #{map-get($theme-colors, background)};
    --light: #{map-get($theme-colors, light)};
    --foreground: #{map-get($theme-colors, foreground)};
    --accent: #{map-get($theme-colors, accent)};
}

:root {
    @include theme($light);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme($dark);
    }
}
