<html>
    <head>
        <link rel="stylesheet" href="css/main_style.css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>Blog - Legoraft</title>
    </head>
    
    <body>
        <header>
            <h1><a href="/">Legoraft</a></h1>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </header>
        
        <section>

        </section>
        
        <footer>
            <p>&copy; legoraft</p>
            <p>made with <a href="https://github.com/legoraft/stagnant">stagnant</a></p>
        </footer>
    </body>
</html>