<html>
    <head>
        <link rel="stylesheet" href="css/main_style.css">
    </head>
    
    <body>
        <header>
            <h1>Legoraft</h1>
            
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Projects</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>
        
        <ul>
            {links}
        </ul>
        
        <footer>
            <p>&copy; legoraft</p>
            <p>Made with <a href="https://github.com/legoraft/stagnant">stagnant</a></p>
        </footer>
    </body>
</html>