<html>
    <head>
        <link rel="stylesheet" href="css/main_style.css">
    </head>
    
    <body>
        <header>
            <h1>Legoraft</h1>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </header>
        
        <section>
            <a href="/" class="post-link">
                <div class="link-header">
                    <h2 id="tag">#</h2>
                    <h2>Test post</h2>
                    <p id="date">17-06-2024</p>
                </div>
                <p>This is a small and simple description for my test post link.</p>
            </a>
        </section>
        
        <ul>
            {links}
        </ul>
        
        <footer>
            <p>&copy; legoraft</p>
            <p>made with <a href="https://github.com/legoraft/stagnant">stagnant</a></p>
        </footer>
    </body>
</html>