<html>
    <head>
        <link rel="stylesheet" href="css/main_style.css" />
        <link rel="stylesheet" href="css/project_style.css" />
        
         <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" /> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>Projects - Legoraft</title>
    </head>
    
    <body>
        <header>
            <h1><a href="/">Legoraft</a></h1>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="project-container">
            <div class="project">
                <img src="images/armorhud.png" alt="An image of the mod simple armor hud active in minecraft" />
                <div class="description">
                    <h1>Stagnant</h1>
                    <p>A static blog generator, written in rust and blazingly fast. The site you're visiting is built with it!</p>
                </div>
                <a href="https://github.com/legoraft/stagnant"><i id="icon" class="devicon-github-original"></i></a>
            </div>
            <div class="project">
                <img src="images/armorhud.png" alt="An image of the mod simple armor hud active in minecraft" />
                <div class="description">
                    <h1>Simple armor hud</h1>
                    <p>A Minecraft mod that adds the armor that you're currently wearing to the hud.</p>
                </div>
                <a href="https://github.com/legoraft/simple-armor-hud"><i id="icon" class="devicon-github-original"></i></a>
            </div>
        </section>
        
        <footer>
            <p>&copy; legoraft</p>
            <p>made with <a href="https://github.com/legoraft/stagnant">stagnant</a></p>
        </footer>
    </body>
</html>