{% extends "base.html" %}

{% block content %}
<p class="section-title">{{ taxonomy.name | lower }}</p>

<h1 class="title" id="home">{{ taxonomy.name | capitalize }}</h1>

<section class="list">
    <h2 class="section-title">list</h2>
    
    <ul class="unmarked">
      {% for term in terms %}
      <li class="tags">
          <a href="{{ term.permalink | safe }}">
              <p># {{ term.name }}</p>
              <p class="count">{{ term.page_count }} page{{ term.page_count | pluralize }}</p>
          </a>
      </li>
      {% endfor %}
    </ul>
</section>

<a href="/" class="back">&lt; home</a>
{% endblock content %}
