{% extends "base.html" %}

{% block content %}
<p class="section-title">tag</p>

<h1 class="title" id="home">{{ term.name | capitalize }}</h1>

<section class="list">
    <h2 class="section-title">pages</h2>
    
    <ul class="unmarked">
      {% for page in term.pages %}
      <li class="tags">
          <a href="{{ page.permalink | safe }}">
              <p>{{ page.title }}</p>
              <p>{{ page.date }}</p>
          </a>
      </li>
      {% endfor %}
    </ul>
</section>

<a href="/" class="back">&lt; home</a>
{% endblock content %}
