<html>
    <head>
        <link rel="stylesheet" href="../css/post_style.css" />
        <link rel="stylesheet" href="../css/main_style.css" />
            
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/codepen-embed.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        
        <script>hljs.highlightAll();</script>
        
        <title>{title}</title>
    </head>
    
    <body>
        <header>
            <h1><a href="../index.html">Legoraft</a></h1>
            
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../blog.html">Blog</a></li>
                    <li><a href="../projects.html">Projects</a></li>
                    <li><a href="../about.html">About</a></li>
                </ul>
            </nav>
        </header>
        
        <article>
            <h1>{title}</h1>
            {content}
        </article>
        
        <footer>
            <p>&copy; legoraft</p>
            <p>made with <a href="https://github.com/legoraft/stagnant">stagnant</a></p>
        </footer>
    </body>
</html>