---
layout: default
---

<section>

    <h2 id="title">Blog</h2>
    
    {% for post in site.posts %}
        {% unless post.next %}
            <h3 class="date">{{ post.date | date: "%Y" }}</h3>
            
            <ul class="post-list">
            
            {% else %}
                {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: "%Y" }}{% endcapture %}
            {% if year != nyear %}
                </ul>
                
                <h3 class="date">{{ post.date | date: "%Y" }}</h3>
                
                <ul class="post-list">
            {% endif %}
        {% endunless %}
  
        <li>
            <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></p>
            <p id="date">{{ post.date | date: "%d - %m" }}</p>
        </li>
  
  {% endfor %}

</section>
