<footer>
    <h1 class="section-title">footer</h1>
    
    <section>
        <ul class="unmarked">
            <li><a href="/feeds">rss</a></li>
            <li><a href="mailto:contact@legoraft.com">email</a></li>
            <li><a href="https://github.com/legoraft">github</a></li>
            <li><a href="https://codeberg.org/legoraft">codeberg</a></li>
        </ul>

        <div class="indieweb-webring">
            <a href="https://xn--sr8hvo.ws/previous">←</a>
            <a href="https://xn--sr8hvo.ws" id="unlink">IndieWeb Webring</a>
            <a href="https://xn--sr8hvo.ws/next">→</a>
        </div>

        <div class="indieweb-buttons">
            <a href="https://legoraft.com" class="h-card" rel="me">
                <img class="pixelated" src="/images/buttons/legoraft-button.gif" alt="Legoraft" />
            </a>
        </div>
    </section>
</footer>
