<header>
    <div id="theme">
        <button>
            <span class="dot" id="accent"></span>
            <span class="dot" id="foreground"></span>
            <span class="dot" id="surface"></span>
        </button>
        <div class="content">
            <button>Classic</button>
            <button>Nord</button>
        </div>
    </div>
    
    <select id="theme-switcher">
        <option value="classic">Classic</option>
        <option value="nord">Nord</option>
    </select>
</header>
