<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
{% endblock %}
    
<title>
    {%- if current_path == "/" -%}
        {{ config.title }} - Home
    {%- elif section -%}
        {{ section.title }} - {{ config.title }}
    {%- elif page -%}
        {{ page.title }} - {{ config.title }}
    {%- else -%}
        {{ config.title }}
    {%- endif -%}
</title>

<link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
