<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">
<script type="module" src="{{ get_url(path="js/theme-switcher.js") }}" defer></script>
<script type="module" src="{{ get_url(path="js/mode-switcher.js") }}" defer></script>

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
{% endblock %}
    
<title>
    {%- if current_path is defined -%}
        {%- if current_path == "/" -%}
            {{ config.title }} - Home
        {%- elif section -%}
            {{ section.title }} - {{ config.title }}
        {%- elif page -%}
            {{ page.title }} - {{ config.title }}
        {%- else -%}
            {{ config.title }}
        {%- endif -%}
    {%- else -%}
        {{ config.title }}
    {%- endif -%}
</title>

<link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
