<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    
    {% capture favicons_path %}{{ "/assets/favicon" | relative_url }}{% endcapture %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_path }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_path }}/favicon-16x16.png">
    <link rel="icon" href="{{ favicon_path }}/favicon.ico">
    
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

</head>