$BackgroundDark: #1b2229;
$SurfaceDark: #3f444a;
$TertiaryLight: #5b6268;
$SecondaryLight: #bbc2cf;
$PrimaryLight: #eeeff1;

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 60ch;
    margin: 0 auto;
    background-color: $PrimaryLight;
    color: $BackgroundDark;
}

header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    svg {
        fill: $TertiaryLight;
        width: 1rem;
        
        &:hover {
            fill: $BackgroundDark;
        }
    }
}

h1 {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-family: inherit;
}

code {
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    font-size: 1rem;
}
