@import "variables";

.content, article {
    max-width: 40rem;
    min-height: 80vh;
    margin: 1rem auto;
    color: $foreground;
}

h1.posttitle {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    margin: 1rem 0;
}

a {
    color: $accent;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 34rem) {
    body {
        margin: 0 0.5rem;
    }
    
    .content, article {
        width: 100%;
    }
}