@import "variables";

.content, article {
    width: 40rem;
    margin: 1rem auto;
}

h1.posttitle {
    font-size: 1.5rem;
    margin: 1rem 0;
}

@media (max-width: 32rem) {
    .content, article {
        margin: 0.5rem;
    }
}