:root {
    --background: #eceff4;
    --surface: #d8dee9;

    --primary: #2e3440;
    --secondary-opaque: 76, 86, 106;
    --secondary: rgba(var(--secondary-opaque), 0.6);
    
    --accent: #5e81ac;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2e3440;
        --surface: #3b4252;
        
        --primary: #eceff4;
        --secondary-opaque: 216, 222, 233;
        --secondary: rgba(var(--secondary-opaque), 0.6);
        
        --accent: #88c0d0;
    }
}
