@import "variables";

* {
    margin: 0;
    padding: 0;
    background-color: $background;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    height: 64px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    color: $foreground;
}

nav {
    display: flex;
    gap: 0.5rem;
}

a.navitem {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}