// Post-specific CSS settings
article {
    line-height: 2;
    
    h1#title {
        text-align: center;
    }
    
    h1, h2, h3, p {
        margin: 1rem 0;
    }
    
    ul, ol {
        margin: 1rem 1rem;
    }
    
    code {
        background-color: var(--surface);
        padding: 0.1rem 0.25rem;
        border-radius: 0.25rem;
    }
    
    pre {
        padding: 1rem;
        border-radius: 1rem;
        overflow: scroll;
        margin: 1rem 0;
        
        code {
            background-color: transparent;
        }
    }
    
    input {
        margin-right: 1rem;
    }
    
    img {
        max-width: 100%;
    }
    
    blockquote {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: 0.25rem solid var(--accent);
    }
    
    table {
        margin: 1rem 0;
        border-collapse: collapse;
        border-style: hidden;
        
        th, td {
            border: 1px solid white;
            padding: 0.25rem 0.5rem;
            text-align: left;
        }
    }
}