@import "variables";

h1#post-title {
    margin: auto;
    text-align: center;
}

p#post-date {
    margin: 0.5rem auto 1.5rem auto;
    text-align: center;
    color: $unfocused;
}

p {
    line-height: 1.2rem;
}

pre.highlight {
    padding: 1.5rem;
    background-color: #f0f1f3;
    border-radius: 1rem;
    
    code {
        background-color: inherit;
        
        span {
            background-color: inherit;
        }
    }
}

code {
    padding: 0.25rem;
    background-color: #f0f1f3;
    border-radius: 0.5rem;
}