@import "variables";

ul.postlist {
    list-style: none;
}

a {
    display: flex;
    text-decoration: none;
        
    p#date {
        color: $unfocused;
    }
        
    p#title {
        color: $foreground;
            
        *:hover {
            text-decoration: underline;
        }
    }
}