@import "variables";

ul.postlist {
    list-style: none;
}

li {
    a.postlink {
        display: flex;
        text-decoration: none;
        
        p#date {
            color: $unfocused;
        }
        
        p#title {
            color: $foreground;
            
            *:hover {
                text-decoration: underline;
            }
        }
    }
}