@import "variables";

ul.postlist {
    list-style: none;
}

a.postlink {
    display: flex;
    text-decoration: none;
    gap: 1rem;
        
    p#date {
        color: $unfocused;
        margin: 0;
    }

    p#title {
        color: $foreground;
        margin: 0;
            
        &:hover {
            text-decoration: underline;
        }
    }
}