.highlight {
    // Comment, Comment.Multiline, Comment.Single
    .c, .cm, .c1 {
        color: #5b6268
    }
    
    // Error, Generic.Error, Generic.Traceback, Name.Exception
    .ne, .gt, .gr, .err {
        color: #ff6c6b;
    }
    
    // Keyword, Keyword.Constant, Keyword.Reserved, Keyword.Pseudo, Keyword.Declaration, Name.Builtin
    .nb, .k, .kc, .kr, .kp, .kd {
        color: #51afef;
    }
    
    // Operator
    .o {
        color: #51afef;
    }
    
    // Comment.Preproc
    .cp {
        font-weight: bold;
    }
    
    // Comment.Special
    .cs {
        font-weight: bold;
    }
    
    // Generic.Deleted, Generic.Deleted.Specific
    .gd, .gd .x {
        color: #ff6c6b;
    }
    
    // Generic.Emph
    .ge {
        font-style: italic;
    }
    
    // Generic.Heading
    .gh {
        
    }
    
    // Generic.Inserted, Generic.Inserted.Specific
    .gi, .gi .x {
        color: #98be65;
    }
    
    // Generic.Output
    .go {
        
    }
    
    // Generic.Prompt
    .gp {
        
    }
    
    // Generic.Strong
    .gs {
        font-weight: bold;
    }
    
    // Generic.Subheading
    .gu {
        
    }
    
    // Keyword.Type
    .kt {
        color: #ecbe7b;
        font-weight: bold;
    }
    
    // Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct, Literal.Number.Integer.Long
    .m, .mf, .mh, .mi, .mo, .il {
        color: #da8548;
    }
    
    // Literal.String, Literal.String.Backtick, Literal.String.Char, Literal.String.Doc, Literal.String.Double, Literal.String.Escape, Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other, Literal.String.Regex, Literal.String.Single, Literal.String.Symbol
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: #98be65;
    }
    
    // Name.Class
    .nc {
        color: #ecbe7b;
    }
    
    // Name.Constant, Name.Entity, Name.Attribute
    .no, .ni, .na {
        color: #bbc2cf;
    }
    
    // Name.Function
    .nf {
        color: #c678dd;
    }
    
    // Name.Namespace
    .nn {
        
    }
    
    // Name.Tag
    .nt {
        color: #4bc4f7;
    }
    
    // Operator.Word
    .ow {
        font-weight: bold;
    }
    
    // Text.Whitespace
    .w {
        
    }
    
    // Name.Builtin.Pseudo
    .bp {
        
    }
    
    // Name.Variable.Class, Name.Variable.Global, Name.Variable.Instance, Name.Variable
    .nv, .vc, .vg, .vi {
        color: #bbc2cf;
    }
}