.highlight {
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;
    --cyan: #8fbcbb;
    --bright-cyan: #88c0d0;
    --bright-blue: #81a1c1;
    --blue: #5e81ac;
    --primary: #eceff4;
    --secondary: #d8dee9;
    --dark-gray: #4c566a;
    
    background-color: #3b4252;
    border-radius: 1rem;
    color: var(--primary);
    
    // Comment, Comment.Multiline, Comment.Single
    .c, .cm, .c1 {
        color: var(--dark-gray)
    }
    
    // Error, Generic.Error, Generic.Traceback, Name.Exception
    .ne, .gt, .gr, .err {
        color: var(--red);
    }
    
    // Keyword, Keyword.Constant, Keyword.Reserved, Keyword.Pseudo, Keyword.Declaration, Name.Builtin
    .nb, .k, .kc, .kr, .kp, .kd {
        color: var(--bright-blue);
    }
    
    // Operator
    .o {
        color: var(--bright-blue);
    }
    
    // Comment.Preproc
    .cp {
        font-weight: var(--blue);
    }
    
    // Comment.Special
    .cs {
        font-weight: bold;
    }
    
    // Generic.Deleted, Generic.Deleted.Specific
    .gd, .gd .x {
        color: var(--red);
    }
    
    // Generic.Emph
    .ge {
        font-style: italic;
    }
    
    // Generic.Heading
    .gh {
        
    }
    
    // Generic.Inserted, Generic.Inserted.Specific
    .gi, .gi .x {
        color: var(--green);
    }
    
    // Generic.Output
    .go {
        
    }
    
    // Generic.Prompt
    .gp {
        
    }
    
    // Generic.Strong
    .gs {
        font-weight: bold;
    }
    
    // Generic.Subheading
    .gu {
        
    }
    
    // Keyword.Type
    .kt {
        color: var(--cyan);
    }
    
    // Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct, Literal.Number.Integer.Long
    .m, .mf, .mh, .mi, .mo, .il {
        color: var(--purple);
    }
    
    // Literal.String, Literal.String.Backtick, Literal.String.Char, Literal.String.Doc, Literal.String.Double, Literal.String.Escape, Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other, Literal.String.Regex, Literal.String.Single, Literal.String.Symbol
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: var(--green);
    }
    
    // Name.Class
    .nc {
        color: var(--cyan);
    }
    
    // Name.Constant, Name.Entity, Name.Attribute
    .no, .ni, .na {
        color: var(--secondary);
    }
    
    // Name.Function
    .nf {
        color: var(--bright-cyan);
    }
    
    // Name.Namespace
    .nn {
        
    }
    
    // Name.Tag
    .nt {
        color: var(--bright-blue);
    }
    
    // Operator.Word
    .ow {
        font-weight: bold;
    }
    
    // Text.Whitespace
    .w {
        
    }
    
    // Name.Builtin.Pseudo
    .bp {
        
    }
    
    // Name.Variable.Class, Name.Variable.Global, Name.Variable.Instance, Name.Variable
    .nv, .vc, .vg, .vi {
        color: var(--secondary);
    }
}