$background: #0D1321;
$foreground: #FDFFFC;
$unfocused: rgba($foreground, 0.5);
$background1: #262B38;
$accent: #C696ED;

* {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: $foreground;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
    font-family: monospace;
}