$background: #FDFFFC;
$foreground: #0D1321;
$unfocused: rgba($foreground, 0.75);
$accent: #9650D0;

* {
    margin: 0;
    padding: 0;
    background-color: $background;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
    font-family: monospace;
}