$background: #0D1321;
$background1: rgba($foreground, 0.1);
$foreground: #FDFFFC;
$unfocused: rgba($foreground, 0.5);
$accent: #9650D0;

* {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: $foreground;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
    font-family: monospace;
}