:root {
    --primary-fg: #F7F7F7;
    --secondary-fg: #CCCCCC;
    --primary-bg: #121212;
    --secondary-bg: #333333;
    --tertiary-bg: #595959;
    --primary-accent: #00E57E;
    --secondary-accent: #00B262;
}