@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    display: flex;
    justify-content: center;
}

article {
    width: 80ch;
    justify-content: left;
}

article a {
    color: #2CB06E;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article p {
    margin: 1rem 0;
}

article h {
    margin: 1rem 0;
}

code {
    border-radius: 1rem;
    font-family: "Source Code Pro", Courier, monospace;
    font-size: 0.75rem;
}

@media (max-width: 1000px) {
    article {
        width: 100%;
    }
}