@import "fonts.css";
@import "colors.css";

body {
    display: flex;
    justify-content: center;
}

article {
    width: 54rem;
    justify-content: left;
    font-size: 16px;
    font-family: Manrope, Arial, Helvetica, sans-serif;
}

article a {
    color: var(--primary-accent);
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article p {
    margin: 1.5rem 0;
    line-height: 1.5;
}

article h1 {
    font-size: 2rem;
    color: var(--primary-fg);
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

article h2 {
    font-size: 1.5rem;
    color: var(--primary-fg);
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

code {
    background-color: var(--secondary-bg);
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: "Source Code Pro", Courier, monospace;
}

pre code {
    border-radius: 1rem;
}

@media (max-width: 1000px) {
    article {
        width: 100%;
    }
}