@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    display: flex;
    justify-content: center;
}

article {
    width: 80ch;
    justify-content: left;
    font-size: 18px;
    margin: 1rem 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

article a {
    color: #2CB06E;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article p {
    margin: 1.5rem 0;
    line-height: 1.5;
}

code {
    background-color: #222;
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

pre code {
    border-radius: 1rem;
    font-family: "Source Code Pro", Courier, monospace;
}

@media (max-width: 1000px) {
    article {
        width: 100%;
    }
}