:root {
    --primary-fg: #F7F7F7;
    --secondary-fg: #CCCCCC;
    --primary-bg: #121212;
    --secondary-bg: #333333;
    --primary-accent: #00E57E;
    --secondary-accent: #00B262;
}

.project-container {
    max-width: 54rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project {
    color: var(--secondary-fg);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: var(--secondary-bg);
    border-radius: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.project .description {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: auto;
}

.description h1 {
    color: var(--primary-fg);
    margin-bottom: 0.5rem;
}

.description p {
    line-height: 1.5;
}

.project img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.project a {
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

@media (max-width: 650px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .project .description {
        padding: 1rem 1rem 1rem 1rem;
    }
    
    .description p {
        padding: 0.5rem 0;
    }
}