{% extends "base.html" %}

{% block content %}
<h1 class="section-title">post</h1>

<article>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.updated != page.date %}
        <h2 class="date">{{ page.date | date(format="%b %d, %Y") }} - ↻ {{ page.updated | date(format="%b %d") }}</h2>
    {% else %}
        <h2 class="date">{{ page.date | date(format="%b %d, %Y") }} - ↻ {{ page.updated | date(format="%b %d") }}</h2>
    {% endif %}
    
    {{ page.content | safe }}
</article>

<a href="/" onclick="history.back(); return false" class="back">&lt; back</a>
{% endblock content %}
