{% extends "base.html" %}

{% block content %}
<p class="section-title">post</p>

<article>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.updated != page.date %}
        <p class="date">{{ page.date | date(format="%b %d, %Y") }} - Updated {{ page.updated | date(format="%b %d") }}</p>
    {% else %}
        <p class="date">{{ page.date | date(format="%b %d, %Y") }}</p>
    {% endif %}
    
    {{ page.content | safe }}
</article>

<a href="/" class="back">&lt; home</a>
{% endblock content %}
