<link rel="stylesheet" href="/css/header.css" type="text/css" />
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<link rel="stylesheet" href="/css/post.css" type="text/css" />
<link rel="stylesheet" href="/css/footer.css" type="text/css" />

<title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{ if eq .Kind "page" }}
<meta name="description" content="{{ .Summary }}" />
<meta name="author" content="Legoraft" />
{{ else }}
<meta name="description" content="{{ site.Params.description }}" />
<meta name="author" content="Legoraft" />
{{ end }}
