// Gruvbox themes

// Gruvbox light
$light: (
    background: #fbf1c7,
    surface: #ebdbb2,
    foreground: #3c3836,
    light: #7c6f64,
    accent: #458588,

    black: #282828,
    red: #cc241d,
    green: #98971a,
    yellow: #d79921,
    blue: #458588,
    purple: #b16286,
    aqua: #689d6a,
    gray: #928374
);

// Gruvbox dark
$dark: (
    background: #282828,
    surface: #3c3836,
    foreground: #ebdbb2,
    light: #a89984,
    accent: #83a598,

    black: #1d2021,
    red: #cc241d,
    green: #98971a,
    yellow: #d79921,
    blue: #458588,
    purple: #b16286,
    aqua: #689d6a,
    gray: #928374
);
