// Gruvbox themes

// Gruvbox light
$light: (
    background: #fbf1c7,
    surface: #ebdbb2,
    foreground: #3c3836,
    light: #7c6f64,
    accent: #458588
);

// Gruvbox dark
$dark: (
    background: #282828,
    surface: #3c3836,
    foreground: #ebdbb2,
    light: #a89984,
    accent: #83a598
);
