// Kanagawa themes

// Kanagawa lotus
$light: (
    background: #f2ecbc,
    surface: #c8c093,
    foreground: #545464,
    light: #43436c,
    accent: #73a7bc
);

// Kanagawa wave
$dark: (
    background: #1f1f28,
    surface: #15161d,
    foreground: #dcd7ba,
    light: #c8c093,
    accent: #72a7bc
);
