// Kanagawa themes

// Kanagawa lotus
$light: (
    background: #f2ecbc,
    surface: #c8c093,
    foreground: #545464,
    light: #43436c,
    accent: #4d699b,

    black: #8a8980,
    red: #d7474b,
    green: #6e915f,
    yellow: #836f4a,
    blue: #6693bf,
    purple: #624c83,
    aqua: #5e857a,
    gray: #43436c
);

// Kanagawa wave
$dark: (
    background: #1f1f28,
    surface: #15161d,
    foreground: #dcd7ba,
    light: #c8c093,
    accent: #7fb4ca,

    black: #090618,
    red: #c34043,
    green: #76946a,
    yellow: #c0a36e,
    blue: #7e9cd8,
    purple: #957fb8,
    aqua: #6a9589,
    gray: #dcd7ba
);
