// Default light theme
$colors: (
    background: hsl(240, 2%, 95%),
    surface: hsl(240, 15%, 90%),
    foreground: hsl(240, 2%, 15%),
    light: hsl(240, 2%, 40%),
    accent: hsl(240, 80%, 60%)
)
