// Default themes

// Default light theme
$light: (
    background: #eceff4,
    surface: #d8dee9,
    foreground: #2e3440,
    light: #4c566a,
    accent: #5e81ac
);

// Default dark theme
$dark: (
    background: #2e3440,
    surface: #3b4252,
    foreground: #eceff4,
    light: #d8dee9,
    accent: #88c0d0
);
