{% extends "base.html" %}

{% block content %}
<h1 class="section-title">books</h1>

<h1 class="title" id="home">{{ section.title }}</h1>

<div class="bookshelf">
    {% set books = section.pages | sort(attribute="authors.0") %}
    {% for book in books %}
    <a href="{{ book.permalink | safe }}" class="book" style="background-color: var(--{{ book.extra.color }}); min-width: {{ book.extra.width }}rem;">
        <h1>{{ book.title }}</h1>
    </a>
    {% endfor %}
</div>

<a href="/" class="back">&lt; home</a>
{% endblock content %}
