{% extends "base.html" %}

{% block content %}
<h1 class="section-title">list</h1>

<h1 class="title" id="home">{{ section.title }}</h1>

{% for year, posts in section.pages | group_by(attribute="year") %}
<section class="list">      
    <h1 class="section-title">{{ year }}</h1>
    
    <ul>
      {% for post in posts %}
      <li>
          <a href="{{ post.permalink }}" class="list">
              <p class="title">{{ post.title }}</p>
              <p class="date">{{ post.date }}</p>
          </a>
      </li>
      {% endfor %}
    </ul>
</section>
{% endfor %}

<a href="/" class="back">&lt; home</a>
{% endblock content %}
