<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.html" %}
    </head>

    <body>        
        {% include "partials/header.html" %}
        <noscript>
            <section class="main">
                <h2 class="section-title">javascript</h2>
                <p style="margin-top: 2.25rem;">I understand that you don't want random websites running arbitrary javascript. This means that the theme selector won't work. You'll just enjoy my custom theme.</p>
            </section>
        </noscript>
        
        <div class="main">
            {% block content %} {% endblock content %}
            
            {% include "partials/footer.html" %}
        </div>

        <p class="buildinfo"><a style="color: var(--surface)" href="https://github.com/legoraft/legoraft.github.io/commit/{{ get_env(name="GIT_COMMIT") }}">{{ get_env(name="GIT_COMMIT") }}</a> - {{ get_env(name="BUILD_TIME") }}ms</p>
    </body>
</html>
