{% extends "base.html" %}

{% block content %}
<h1 class="section-title">home</h1>

<div class="wrapper">
    <section class="posts">
        <h1 class="section-title">posts</h1>
        
        <ul>
            {% set posts = get_section(path="posts/_index.md") %}
            {% for post in posts.pages %}
            <li>
                <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="pages">
        <h1 class="section-title">pages</h1>
        
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/history">Site history</a>
            </li>
        </ul>
    </section>
</div>
{% endblock content %}
